body {
    background-color: lightblue;
    text-align: center;
    font-family: sans-serif;
    display: block;
}
.about {
    display: block;
    flex-direction: column;
}
ul,
ol {
    list-style-type: none;
    display: flex;
}

ol {
    flex-direction: column;
}

ul {
    
    justify-content: space-around;
}

img {
    border-radius: 20px;
    margin: 10px;
}