body {
    background-color: lightblue;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.about {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

ul,
ol {
    list-style-type: none;
    display: flex;
    padding: 0;
}

ol {
    flex-direction: column;
}

ul {  
    justify-content: space-around;
}

img {
    border-radius: 20px;
    margin: 10px;
}